body {
  background-image: url('/images/背景.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.post {
  background: rgba(255, 255, 255, 0.85) !important;
}
.widget {
  background: rgba(255, 255, 255, 0.85) !important;
}
.post-content, .post-toc, .post-footer, article {
  background: rgba(255, 255, 255, 0.85) !important;
}